<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>Chicken FM &bull; Your Chicken Station</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/popup.css">
    <link rel="manifest" href="/manifest.json">
    <!--add favicon-->
    <link rel="shortcut icon" type="image/png" href="/images/icons/icon_256x256.png" />
    <!--Meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="ChickenFM">
    <link rel="apple-touch-icon" href="/images/icons/icon_256x256.png">
    <meta name="theme-color" content="#0034FF" />
    <meta name="title" content="ChickenFM - Your Chicken Station">
    <meta name="keywords" content="ChickenFM, chickenfm, chicken fm, chicken, fm, free radio, chickens, good music, free music, ad free">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="14 days">

    <meta name="description" content="This is ChickenFM, sotp listening to bad music or else you're bald. We play the latest hits ad free!">
    <meta property="og:description" content="This is ChickenFM, sotp listening to bad music or else you're bald. We play the latest hits ad free!">
    <meta name="author" content="TheChicken">

    <!--OG metatags-->
    <meta property="og:title" content="ChickenFM - Your Chicken Station">
    <meta property="og:description" content="This is ChickenFM, your chicken station. sotp listening to bad music or else you're bald. We play the latest hits ad free!">
    <meta property="og:image" content="https://chickenfm.com/images/cover.png">
    <meta property="og:url" content="https://chickenfm.com">
    <meta property="og:site_name" content="ChickenFM">


    <!--Twitter meta tags-->
    <meta property="twitter:title" content="ChickenFM">
    <meta property="twitter:description" content="This is ChickenFM, your chicken station. sotp listening to bad music or else you're bald. We play the latest hits ad free!">
    <meta property="twitter:image" content="https://chickenfm.com/images/cover.jpg">
    <meta property="twitter:url" content="https://chickenfm.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Skeppy_chicken">
    <!--Register service worker-->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then((reg) => {
                        console.log('Service worker registered.', reg);
                    });
            });
        };
    </script>
</head>

<body>
    <audio id="audioplayer" autoplay="false"></audio>
    <form name="send a message" id="sendMessage" method="POST" data-netlify="true" data-netlify-recaptcha="true" hidden>
        <p style="display: none;">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
            <label>Your Name: <input type="text" name="name" /></label>
        </p>
        <p>
            <label>Your Email: <input type="email" name="email" /></label>
        </p>
        <p>
            <label>Message: <textarea name="message"></textarea></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>
    <div id="bg">
        <div id="bgimg" v-bind:style="{backgroundImage: 'url('+image+')'}"></div>
    </div>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <router-link class="navbar-brand" to="/"><img src="/images/icons/cover_small.png" width="80"></router-link>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navb">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/songrequest">Request Songs</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/sendmesssage">Send a message</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/lyrics">Lyrics</router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Discord
                    </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" target="_blank" href="https://l.chickenfm.com/discord">Discord Server</a>
                            <a class="dropdown-item" target="_blank" href="http://l.chickenfm.com/bot">Discord Bot</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link triggerSettings" @click="toggleModal()" href="javascript:void(0);">Station</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Where to listen
                    </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="https://l.chickenfm.com/onlineradiobox">OnlineRadioBox</a>
                            <a class="dropdown-item" href="https://www.radionomy.com/en/radio/chickenfm/index">Radionomy</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <router-view></router-view>
    </div>

    <div class="settings">
        <div class="settings-content" id="settings-content">
            <span class="close-settings">×</span>
            <h1>Station</h1>
            <div id="changeStationContent">
                <div>
                    <select v-model="selectedStation" @change="changeStation" :selected="selectedStation">
                        <option v-for="station in stations" :value="station">{{station.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/popups/settingspopup.js"></script>

    <script type="text/javascript" src="scripts/player.js"></script>
    <script type="text/javascript" src="scripts/settings.js"></script>

    <!--<div class="footer">
        <p>Made by <a href="https://l.chickenfm.com/twitter">TheChicken</a>. Version <code>5</code>. <a target="_blank" href="https://l.chickenfm.com/github">GitHub</a>. Powered by <a href="//azuracast.com">AzuraCast</a>.</p>
    </div>-->
    <script src="scripts/router.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            if (!localStorage.getItem('api')) {
                localStorage.setItem('api', 'chickenfm')
            }
            playingNew(localStorage.getItem('api'))
        });
    </script>
</body>

</html>