body {
    /*background-image: url("https://pbs.twimg.com/media/D_9RmzaWwAAzhWM?format=jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;*/
    font: normal 300 18px "Roboto", sans-serif;

    
}

@media only screen {

  body {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

}



.h3 {
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

}

.dj {
  display: block;
  font-size: 3em;
  /*margin-top: 0.2em;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;*/
  font-weight: bold;
  float:center;
  text-align:center;
}

.nowplaying {
  /*height: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;*/
  /*overflow: wrap;*/
  /*width: 20em;*/
  overflow-wrap: break-word;
  text-align: right;
  float:right;
  width: 20em;
}

.nowplaying .artist {
  width: 20em;
  overflow-wrap: break-word;
  float: right;

}

.nowplaying .track {
  width: 20em;
  overflow-wrap: break-word;
  float: right;

}


.djimage {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.05), inset 0 0 20px rgb(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.05), inset 0 0 20px rgb(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.05), inset 0 0 20px rgb(0, 0, 0, 0.08);
  border-radius: 10%;
  border: 1px solid white;
  width: 10em;
  height: 10em;
  /*overflow: hidden;
  text-align: left;
  vertical-align:middle;*/
  /*float:left;
  /*transform: translate(-50%, -50%);*/
  /*position: absolute;*/
  /*left: 10%;
  top: 50%;*/
}


@media screen and (max-width: 600px) {
  .djimage {
    width: 5em;
    height: 5em; 
  }

  .nowplaying {
    width: 15em;
  }
}


.empty1 {
  padding: 1em;
}

.togglr {
  /*float: left;*/
  font-size: 2em;
  margin-top: 4em;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.volume {
   /*float: left;*/
   font-size: 2em;
   /*margin-top: 4em;*/
   text-align: center;
   margin: 0;
   position: absolute;
   top: 87%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)

}

.displaynone {
  display: none;
}

.togl {
  text-align:center;
}

.player {
    /*width: 500px;*/
    border-radius: 4px;
    background-color: #242731;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.14), 0 3px 4px 0 rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    /*display: flex;*/
    flex-direction: column;
    min-width: 350px;
    max-width: 750px;
    position: relative;
    word-wrap: break-word;
    margin: 0 auto;

}

div {
    /*display: block;*/
}

.empty {
  padding: 50px;
}

.player-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    min-height: 20em;

}
.player-body:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.popupplayer {
  text-align: center;
  color: #ffffff
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(0, 26, 255);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* 
#menu-nav {
  max-width: 55%;
  margin: 130px auto;
  background-color: #ecf0f1;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
 
#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 20%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #e74c3c;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
 
li {
	list-style: none;
}*/


/* The songreq (background) */
.songreq {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* songreq Content */
.songreq-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.songreq-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.songreq-body {padding: 2px 16px;}

.songreq-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#333;
    padding:8px;
    text-align: center;
    
}

.footer p {
  margin:0;
}